$myblue:#217AD3;
$myorange:#f0932b;
$myred:#eb4d4b;
$mygreen:#6ab04c;
$myblack:rgba(126, 126, 126, 0.25);
$myshadow:0 0.25rem 0.2rem rgba(0,0, 0, 0.25);
$mymargin: 66px;
$roboto:'Roboto', sans-serif;
$fontkecil: 14px;
$fontbesar:32px;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: #ebebeb;
    font-family: 'Raleway', sans-serif;
}
header {
    border-bottom: 1px solid rgb(243, 243, 243);
    .header-content {
        font-size: 15px;
        padding: 10px 20px;
    }    
}
nav {
    box-shadow: $myshadow;
    font-family: $roboto;
    .navbar-brand {
        transition: 0.5s;
        padding: 0.5em 0;
    }
    button {
        border: 0!important;
    }
    i {
        transition: 0.5s;
        color: $myblue;
        font-size: 22px;
        
    }
    i:hover {
        transform: scale(1.2);
    }
    ul {
        
        li {
            padding: 0.3em;
            a.active {
                color: #217ad3!important;
                
            }
            .nav-link {
                color: rgb(75, 75, 75)!important;
                transition: 0.4s;
                font-size: 15px;
            }
            .nav-link:hover {
                border-radius:2px;
                background-color: #217AD3;
                color: white!important;
                transform: translateX(30x);
            }
        }
       
    }
}
.carousel-indicators {
    li {
        border-radius: 50%;
        width: 10px;
        height: 10px;
    }
}
.carousel-inner {
    transform: translateY(-4px);
    z-index: -1;
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
    .slide1, .slide2, .slide3 {
       height: 467px;
       background-repeat: no-repeat;
       width:100%;
       background-position: center;
    }
    .slide1 {
        background-image: url("/img/SMAN1TAJUR-darken.png");
    }
    .slide2 {
        background-image: url("/img/dalam-darken.png");
    }
    .slide3 {
        background-image: url("/img/guru-darken\ 1.png");
    }
    .mycarousel-caption {
        animation: moveRight 2s;
        position: absolute;
        top: 23%;
        color: white;
        left: 9%;
        margin: auto!important;

        h5, p {
            font-weight: bold;
            font-size: 30px!important;
        }
    }
}
.blankDiv {
    transform: translateY(-8px);
    z-index: -1;
    max-width: 1366px;
    margin-left: auto;
    margin-right:auto ;
    background-color: white;
    box-shadow: $myshadow;
    padding: 1em 0;
}
.totop-wrapper {
    position: absolute;
    z-index: 15;
    .totop {
        box-shadow: $myshadow;
        position: fixed;
        background-color: #217AD3;
        border-radius:4px;
        display: block;
        color: white;
        padding:0.8em 1em;
        text-decoration: none;
        bottom:30px;
        right:30px;
    }
    
}
.keunggulan {
    position: relative;
    z-index: 2;
    max-width: 1366px!important;
    height: fit-content;
    .keunggulanTitle {
        padding-top: 78px;
            span {
                color: #217AD3;
            }
    }
    .mybox {
        border: 2px solid #217AD3;
        margin: auto;
        max-width: 280px;
        transition: 0.3s;
        text-align: center;
        .box-title {
            padding: 10px 0;
            
            h4 {
                color: $myblue;
                font-weight: 500;
                font-size: 30px;
            }
        }
        .box-image {
            padding: 30px ;
           img {
               width: 150px;
               height: 150px;
           }
        }
        .box-caption {
            padding: 0 2em;
            padding-bottom: 1em;
            
            p {
                color: $myblue;
                font-size: 16px;
            }
        }
    }
    .mybox:hover {
        box-shadow: 1px 10px 78px -3px rgba(0,0,0,0.35);
        transform: scale(1.01);
    }
    .swiper-container {
        box-shadow: $myshadow;
        margin-top: 3em;
        display: none;
        width: 70vw;
        height: fit-content;
        .swiper-pagination-bullet {
            background-color: rgba(0,0,0,0.35);
            width: 15px;
            height: 15px;
            margin-top: 1em;
        }
        .swiper-wrapper {
            
            .swiper-slide {
                
                .myboxMob {
                    
                    border: 2px solid $myblue;
                    text-align: center;
                    display: block;
                    transition: 0.3s;
                    height: 400px;
                    width: 70vw!important;
    
                    .box-title {
                        padding-top: 2em ;
                
                        h4 {
                            color: $myblue;
                            font-weight: 500;
                            font-size: 30px;
                        }
                    }
                    .box-image {
                        padding: 2em ;
                        img {
                            width: 100px;
                        }
                    }
                    .box-caption {
                        padding: 0 2em;
                        padding-bottom: 1em;
                        
                        p {
                            color: $myblue;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }

    
}
.cutterTop-Pendaftaran {
    background-color: white;
    width: 100%;
    height: 55px;
    transform: skewY(-1deg);
    margin-top:-1.5em!important ;
    margin: auto;
    max-width: 1366px!important;
}
.cutterBottom-Pendaftaran {
    background-color: white;
    width: 100%;
    height:55px;
    transform: skewY(1deg);
    margin: auto!important;
    margin-top: -1.5em!important;
    max-width: 1366px!important;
}
.pendaftaran {
    margin-top: -2em;
    padding: 7em;
    max-width: 1366px;
    .container-fluid {
        
        padding: 0!important;
    }
    .ppdb {
        flex-direction: row;
        justify-content: center;
        display: flex;
        align-items: center;
        .pertama {
            margin-right: 50px;
            h1 {
                font-weight: medium;
                font-size: 50px;
                margin: 0!important;
            }
        }
        .kedua {
            a {
                transition: 0.3s;
                padding: 0.7em 1em;
                font-weight: 600;
                background-color: white;
                border-radius: 25px;
                font-size: 16px;
                box-shadow: $myshadow;
                color: black;
            }
            a:hover {
                transform: scale(1.2);
                    
            }
        }
        
    }
    
}
.prestasi {
    position: relative;
    z-index: 1;
    margin-top: -1.5em;
    max-width: 1366px;
    
    
    h1 {
        span {
            color: $myblue;
        }
    }
    .box-prestasi {
        .img-box {
            box-shadow: $myshadow;
            img {
                z-index: -1;
                width: 100%;
                height: 355px;
            }
        }
        .cutterBottom {
            background-color: white;
            width: 100%;
            margin-top: -70px;
            height:70px;
            z-index: 1;
            position: relative;
        }
        .cutterBottom-dua {
            background-color: white;
            width: 100%;
            margin-top: -92px;
            height: 70px;
            transform: skewY(6deg)!important;
            background-color: white!important;
        }
        .box-prestasi-caption {
            z-index: 2;
            top: -51px;
            text-align: center;
            position: relative;
            h4 {
                color: $myblue;
                font-weight: bold;
                font-size: 20px;
            }
            p {
                font-size: 20px;
                font-weight: 500;
                color: black;
            }
        }
    }

}
.jurusan {
    max-width: 1366px!important;
    .jurusanTitle {
        h1 {
            span {
                color: $myblue;
            }
        }
    }
    .box-jurusan {
        margin: auto;
        max-width: 380px;
        border-radius: 10px;
        .box-title {
            margin-bottom: 50px;
            h4 {
                font-size: 25px;
            }
        }
        .box-image {
            margin-bottom: 50px;
            img {
                width: 120px;
                height: 120px;
            }
        }
        .box-caption {
            padding-bottom: 54px;
            p {
                font-size: 14px;
            }
        }
        .card-footer {
            
            transition: 1s;
            .laci-satu-ipa, .laci-dua-ipa, .laci-tiga-ipa, .laci-satu-ips, .laci-dua-ips, .laci-tiga-ips {
                display: flex;
                justify-content: center;
                height: 50px;
                max-width: 410px;
                transition: 0.5s;
                border-bottom: 1px solid rgba(0,0, 0, 0.15);
                margin-top: 5px;
                cursor: pointer;
                p {
                    padding: 0 15px;
                    margin-top:12px ;
                    font-weight: 600;
                    color: white;
                    font-size:17px;
                    
                    span {
                        font-weight: normal;
                        font-size: 12px;
                        display: none;
                    }
                }
            }
            .laci-tiga-ipa, .laci-tiga-ips {
                margin-bottom: 5px;
            }
            .laci-satu-ipa:hover, .laci-dua-ipa:hover, .laci-tiga-ipa:hover {
                background-color: #e63633;
            }
            .laci-satu-ips:hover, .laci-dua-ips:hover, .laci-tiga-ips:hover {
                background-color: #0f67c0;
            }
        }
    }
}
.eskul {
    max-width: 1366px;
    h1 {
        span {
            color: $myblue;
        }
    }
    .box-eskul {
        margin: auto;
        max-width: 300px;
        .img-box {
            box-shadow: 4px 17px 59px -3px rgba(0,0,0,0.15);
            img {
                z-index: -1;
                width: 100%;
                height: 355px;
            }
        }
        .cutterBottom {
            background-color: white;
            width: 100%;
            margin-top: -70px;
            height:70px;
            z-index: 1;
            position: relative;
        }
        .cutterBottom-dua {
            background-color: white;
            width: 100%;
            margin-top: -92px;
            height: 70px;
            transform: skewY(6deg)!important;
            background-color: white!important;
        }
        .box-eskul-caption {
            z-index: 2;
            top: -51px;
            text-align: center;
            position: relative;
            h4 {
                margin-top: 20px;
                color: $myblue;
                font-weight: 500;
                font-size: 17px;
            }
        }
    }
}
.artikel {
    max-width: 1366px;
    h1 {
        span {
            color: $myblue;
        }
    }
    .kepsek {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-right: 1px solid #DCDCDC;

        .title {
            padding: 30px;
            margin-bottom: 20px;
            h3 {
                font-weight: 500!important;
                color: $myblue;
                font-size: 30px;
            }
        }
        .image {
            img {
                width: 300px;
                height: 300px;
            }
        }
        .caption {
            padding: 30px;
            margin-top: 20px;
            h4 {
                font-size:20px ;
                font-weight:600;
            }
        }
    }
    .kepsek-paragraf {
        margin-top: 35px;
        p {
            font-weight: 500;
            font-size: 16px;
        }
    }
    
    .mybox {
        min-width: 120px;
        border-radius: 10px;
        border: 1px solid #DCDCDC;
        margin: auto;
        max-width: 280px;
        transition: 0.1s;
        img {
            width: 100%;
            height: 250px;
        }
        .box-title {
            padding: 1em 0.7em;
            h4 {
                font-weight: 500;
                font-size: 22px;
            }
        }
        .box-caption {
            padding: 0em 0.7em;
            padding-bottom: 1em;
            p {
                font-size: 14px;
            }
        }
    }
    .mybox:hover {
        box-shadow: 1px 10px 78px -3px rgba(0,0,0,0.35);
        transform: scale(1.01);
    }
}
.tentang {
    max-width: 1366px;
    .box-tentang {
        margin-right: 50px;
        margin-bottom: 40px;
        h3 {
            font-size: 30px;
            font-weight: 700;
            span {
                font-weight: 400;
            }
        }

        .line-kecil {
            width: 59px;
            background-color: white;
            height: 2px;
            margin-bottom: 15px;
            margin-top: 10px;
        }
        p {
            color: rgba(243, 243, 243, 0.80 );
            font-family: $roboto;
            font-weight: 300;
            margin-bottom: 30px ;
            font-size: 15px;
        }
        .download {
            transition: 0.3s;
            padding: 18px 40px;
            color: white;
            border: 1px solid white;
        }
        .download:hover {
            color: #2ed573;
            border: 1px solid #2ed573;
        }
        .menu-wrapper {
            div {
                padding:0.5em 0;
                a {
                    transition: 0.2s;
                    font-size: 15px;
                    color: rgba(243, 243, 243, 0.80 );
                }
                a:hover {
                    color: #2ed573;
                }
            }
        }
        .kontak-wrapper {
            div {
                padding:0.5em 0;
                p {
                    font-size: 15px;
                    color: rgba(243, 243, 243, 0.80 );
                    i {
                        color: white;
                    }
                }
            }
        }
    }
}
.footer {
    max-width: 1366px;

    div {
        a {
            color: black;
            font-size: 19px;
        }
        .mame {
            width: 40px;
        }
    }
}
  

// media quaries
@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 992px) {
    header {
        .header-link-wrapper {
            div {
                a { 
                    i {
                        font-size:22px;
                    }
                }   
            }
            div:last-child {
                height: 35px;
                a {
                    font-size: 14px;
                }
            }
        }
    }
    nav {
        .navbar-brand {
            img {
                width: 220px!important;
            }
        }
        ul {
            margin-top: 1em;
            border-top:1px solid #e0e0e0 ;
             li {
                a.active {
                    margin-top: 1em;
                    
                }
                .nav-link {
                    font-size: 16px!important;
                    display: flex;
                    justify-content: center;
                    padding:1em 0;
                }
             }
        }
    }
    .kepsek {
        border-right: 0!important;
        border-bottom: 1px solid #DCDCDC;
    }
}
@media screen and (max-width: 768px) {
    .keunggulan {
        .row {
            display: none!important;


        }
        .swiper-container {
            display: block!important;
        }
  
    }
    .pendaftaran {
        .ppdb {
            flex-direction: column!important;
            .pertama {
                margin: 0;
            }
            .kedua {
                margin-top: 30px;
            }
        }
    }

    .prestasi {
        .box-prestasi {
            .cutterBottom {
                margin-top:-69px!important;
                margin-bottom: 1em!important;
            }
            .cutterBottom-dua {
                margin-top: -7.8em;
            }
        }
        
    }
    .jurusan {
        .row {
            .col {
                margin-bottom: 2em;
                .box-jurusan {
                    margin: auto!important;
                }
            }
        }
        
        
    }
    .artikel {
        .kepsek-paragraf {
            p {
                b {
                    text-align: center;
                }
            }
        }
            
    }
    .tentang {
        .download {
           
            padding: 18px 10px;
            
        }
    }
}
@media screen and (max-width: 576px) {
    header {
        .header-link-wrapper {
            div:last-child {
                height: 50px;
                width: 160px;
                a {
                    font-size: 12px!important;
                }
            }
        }
    }
    .judulBesar {
        font-size: 37px!important;
    }
    .paragrafKecil {
        font-size: 15px!important;
    }
    .carousel-inner {
        .mycarousel-caption {
            h5, p {
                font-size: 20px!important;
            }
        }
    }
    .prestasi {
        .box-prestasi {
            margin: auto;
            max-width: 300px;
        }
    }
    .jurusan {
        .box-jurusan {
            max-width: 300px;
            .box-title {
                h4 {
                    font-size: 20px;
                }
            }
            .box-image {
                img {
                    width: 90px;
                    height: 90px;
                }
            }
            .box-caption {
                p {
                    font-size: 12px;
                }
            }
            .card-footer {
                    p {
                        font-size: 17px;
                        span {
                            font-size: 12px;
                        }
                    }
            }
        }
    }
    .artikel {
        .kepsek {
            .title {
                h3 {
                    font-size: 25px;
                }
            }
        }
        .kepsek-paragraf {
            p {
                font-size: 13px;
            }
        }
    }
    .tentang {
        .box-tentang {
            h3 {
                font-size: 25px;
            }
            p {
                font-size: 13px;
            }
            .menu-wrapper {
                div {
                    a {
                        font-size: 13px;
                    }
                }
            }
            .kontak-wrapper {
                div {
                    p {
                        font-size: 13px;
                    }
                }
            }
        }
    }
    .footer {
        max-width: 1366px;
    
        div {
            a {
                color: black;
                font-size: 15px;
            }
            .mame {
                width: 35px;
            }
        }
    }
     
}





// Spawn Class 
.judulBesar {
    font-size: 55px;
    font-weight: normal;
}
.paragrafKecil {
    font-weight: 500;
    font-size: 16px;
}
.myBg-Blue {
    background-color: $myblue;
    color: white;
}
.myBg-Red {
    background-color: $myred;
}
.myBg-Orange {
    background-color: $myorange;
}
.myRoboto {
    font-family: $roboto;
}
li {
    list-style-type: none!important;
}
a {
    text-decoration: none!important;
}
.noBorder {
    border: 0!important;
}
.borderYes {
    border: 1px solid red;
}
.mycontainer {
    width: 1366px;
    margin-left: auto;
    margin-right: auto;
}
.line {
    width: 85%;
    margin: auto;
    height: 1px;
    background-color: $myblue;
}




// Keyframes 
@keyframes moveRight {
    from {
        left: -100px;
        opacity: 0;
    }
    to {
        opacity: 1;
        left: 9%;
    }
}
@keyframes loading {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes boxmoveup {
    from {
        bottom: -100px;
        opacity: 0;
    }
    to {
        opacity: 1;
        bottom: 0px;
    }
}
@keyframes boxmoveright {
    from {
        left: -50px;
        opacity: 0;
    }
    to {
        opacity: 1;
        left: 0;
    }
}
@keyframes boxmoveleft {
    from {
        right: -50px;
        opacity: 0;
    }
    to {
        opacity: 1;
        right: 0;
    }
}
@keyframes tibatibaMuncul {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.25;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
}
@keyframes slider {     
	0% {
		left: 0; opacity: 0; 
	}     
	2% {
		opacity: 1; 
	}     
	20% {
		left: 0; opacity: 1; 
	}     
	21% {
		opacity: 0; 
	}     
	24% {
		opacity: 0; 
	}     
	25% {
		left: -768px; opacity: 1; 
	}     
	45% {
		left: -768px; opacity: 1; 
	}     
	46% {
		opacity: 0; 
	}     
	48% {
		opacity: 0; 
	}     
	50% {
		left: -1536px; opacity: 1; 
	}     
	70% {
		left: -1536px; opacity: 1; 
	}     
	72% {
		opacity: 0; 
	}     
	74% {
		opacity: 0; 
	}    
	75% {
		left: -2304px; opacity: 1; 
	}   	
	95% {
		left: -2304px; opacity: 1; 
	}   	
	97% { 
		left: -2304px; opacity: 0; 
	} 
 
	100% {
		left: 0; opacity: 0; 
	}
}
@keyframes myBounce {
    0% {
        
        transform: translateY(0px);
    }
    10% {
        transform: translateY(-30px);
    }
    20% {
        transform: translateY(0px);
    }
    30% {
        transform: translateY(-25px);
    }
    40% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(0px);
    }
    70% {
        transform: translateY(-15px);
    }
    80% {
        transform: translateY(0px);
    }
    90% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0px)
    }

}
@keyframes mySlide { // keyframes buat font slider
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
// activeNoClass 

.movetoup {
    display: block!important;
    animation: boxmoveup 2s;
}
.reveal-up {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
}
.reveal-up.active {
    animation: boxmoveup 1.5s;
    transform: translateY(0px);
    opacity: 1;
}
.reveal-right {
    position: relative;
    transform: translateX(-300px);
    opacity: 0;
}
.reveal-right.active {
    animation: boxmoveright 1s;
    transform: translateX(0px);
    opacity: 1;
}
.myBounce {
    position: relative;
    
}
.myBounce.active {
   animation: myBounce 2s  2s ;
}
.myBounce.active:hover {
    animation: none!important;
}

