* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ebebeb;
  font-family: 'Raleway', sans-serif;
}

header {
  border-bottom: 1px solid #f3f3f3;
}

header .header-content {
  font-size: 15px;
  padding: 10px 20px;
}

nav {
  -webkit-box-shadow: 0 0.25rem 0.2rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.25rem 0.2rem rgba(0, 0, 0, 0.25);
  font-family: "Roboto", sans-serif;
}

nav .navbar-brand {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 0.5em 0;
}

nav button {
  border: 0 !important;
}

nav i {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #217AD3;
  font-size: 22px;
}

nav i:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

nav ul li {
  padding: 0.3em;
}

nav ul li a.active {
  color: #217ad3 !important;
}

nav ul li .nav-link {
  color: #4b4b4b !important;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-size: 15px;
}

nav ul li .nav-link:hover {
  border-radius: 2px;
  background-color: #217AD3;
  color: white !important;
  -webkit-transform: translateX(30x);
          transform: translateX(30x);
}

.carousel-indicators li {
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.carousel-inner {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  z-index: -1;
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
}

.carousel-inner .slide1, .carousel-inner .slide2, .carousel-inner .slide3 {
  height: 467px;
  background-repeat: no-repeat;
  width: 100%;
  background-position: center;
}

.carousel-inner .slide1 {
  background-image: url("/img/SMAN1TAJUR-darken.png");
}

.carousel-inner .slide2 {
  background-image: url("/img/dalam-darken.png");
}

.carousel-inner .slide3 {
  background-image: url("/img/guru-darken 1.png");
}

.carousel-inner .mycarousel-caption {
  -webkit-animation: moveRight 2s;
          animation: moveRight 2s;
  position: absolute;
  top: 23%;
  color: white;
  left: 9%;
  margin: auto !important;
}

.carousel-inner .mycarousel-caption h5, .carousel-inner .mycarousel-caption p {
  font-weight: bold;
  font-size: 30px !important;
}

.blankDiv {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  z-index: -1;
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  -webkit-box-shadow: 0 0.25rem 0.2rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.25rem 0.2rem rgba(0, 0, 0, 0.25);
  padding: 1em 0;
}

.totop-wrapper {
  position: absolute;
  z-index: 15;
}

.totop-wrapper .totop {
  -webkit-box-shadow: 0 0.25rem 0.2rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.25rem 0.2rem rgba(0, 0, 0, 0.25);
  position: fixed;
  background-color: #217AD3;
  border-radius: 4px;
  display: block;
  color: white;
  padding: 0.8em 1em;
  text-decoration: none;
  bottom: 30px;
  right: 30px;
}

.keunggulan {
  position: relative;
  z-index: 2;
  max-width: 1366px !important;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.keunggulan .keunggulanTitle {
  padding-top: 78px;
}

.keunggulan .keunggulanTitle span {
  color: #217AD3;
}

.keunggulan .mybox {
  border: 2px solid #217AD3;
  margin: auto;
  max-width: 280px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-align: center;
}

.keunggulan .mybox .box-title {
  padding: 10px 0;
}

.keunggulan .mybox .box-title h4 {
  color: #217AD3;
  font-weight: 500;
  font-size: 30px;
}

.keunggulan .mybox .box-image {
  padding: 30px;
}

.keunggulan .mybox .box-image img {
  width: 150px;
  height: 150px;
}

.keunggulan .mybox .box-caption {
  padding: 0 2em;
  padding-bottom: 1em;
}

.keunggulan .mybox .box-caption p {
  color: #217AD3;
  font-size: 16px;
}

.keunggulan .mybox:hover {
  -webkit-box-shadow: 1px 10px 78px -3px rgba(0, 0, 0, 0.35);
          box-shadow: 1px 10px 78px -3px rgba(0, 0, 0, 0.35);
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.keunggulan .swiper-container {
  -webkit-box-shadow: 0 0.25rem 0.2rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.25rem 0.2rem rgba(0, 0, 0, 0.25);
  margin-top: 3em;
  display: none;
  width: 70vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.keunggulan .swiper-container .swiper-pagination-bullet {
  background-color: rgba(0, 0, 0, 0.35);
  width: 15px;
  height: 15px;
  margin-top: 1em;
}

.keunggulan .swiper-container .swiper-wrapper .swiper-slide .myboxMob {
  border: 2px solid #217AD3;
  text-align: center;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 400px;
  width: 70vw !important;
}

.keunggulan .swiper-container .swiper-wrapper .swiper-slide .myboxMob .box-title {
  padding-top: 2em;
}

.keunggulan .swiper-container .swiper-wrapper .swiper-slide .myboxMob .box-title h4 {
  color: #217AD3;
  font-weight: 500;
  font-size: 30px;
}

.keunggulan .swiper-container .swiper-wrapper .swiper-slide .myboxMob .box-image {
  padding: 2em;
}

.keunggulan .swiper-container .swiper-wrapper .swiper-slide .myboxMob .box-image img {
  width: 100px;
}

.keunggulan .swiper-container .swiper-wrapper .swiper-slide .myboxMob .box-caption {
  padding: 0 2em;
  padding-bottom: 1em;
}

.keunggulan .swiper-container .swiper-wrapper .swiper-slide .myboxMob .box-caption p {
  color: #217AD3;
  font-size: 16px;
}

.cutterTop-Pendaftaran {
  background-color: white;
  width: 100%;
  height: 55px;
  -webkit-transform: skewY(-1deg);
          transform: skewY(-1deg);
  margin-top: -1.5em !important;
  margin: auto;
  max-width: 1366px !important;
}

.cutterBottom-Pendaftaran {
  background-color: white;
  width: 100%;
  height: 55px;
  -webkit-transform: skewY(1deg);
          transform: skewY(1deg);
  margin: auto !important;
  margin-top: -1.5em !important;
  max-width: 1366px !important;
}

.pendaftaran {
  margin-top: -2em;
  padding: 7em;
  max-width: 1366px;
}

.pendaftaran .container-fluid {
  padding: 0 !important;
}

.pendaftaran .ppdb {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pendaftaran .ppdb .pertama {
  margin-right: 50px;
}

.pendaftaran .ppdb .pertama h1 {
  font-weight: medium;
  font-size: 50px;
  margin: 0 !important;
}

.pendaftaran .ppdb .kedua a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 0.7em 1em;
  font-weight: 600;
  background-color: white;
  border-radius: 25px;
  font-size: 16px;
  -webkit-box-shadow: 0 0.25rem 0.2rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.25rem 0.2rem rgba(0, 0, 0, 0.25);
  color: black;
}

.pendaftaran .ppdb .kedua a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.prestasi {
  position: relative;
  z-index: 1;
  margin-top: -1.5em;
  max-width: 1366px;
}

.prestasi h1 span {
  color: #217AD3;
}

.prestasi .box-prestasi .img-box {
  -webkit-box-shadow: 0 0.25rem 0.2rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.25rem 0.2rem rgba(0, 0, 0, 0.25);
}

.prestasi .box-prestasi .img-box img {
  z-index: -1;
  width: 100%;
  height: 355px;
}

.prestasi .box-prestasi .cutterBottom {
  background-color: white;
  width: 100%;
  margin-top: -70px;
  height: 70px;
  z-index: 1;
  position: relative;
}

.prestasi .box-prestasi .cutterBottom-dua {
  background-color: white;
  width: 100%;
  margin-top: -92px;
  height: 70px;
  -webkit-transform: skewY(6deg) !important;
          transform: skewY(6deg) !important;
  background-color: white !important;
}

.prestasi .box-prestasi .box-prestasi-caption {
  z-index: 2;
  top: -51px;
  text-align: center;
  position: relative;
}

.prestasi .box-prestasi .box-prestasi-caption h4 {
  color: #217AD3;
  font-weight: bold;
  font-size: 20px;
}

.prestasi .box-prestasi .box-prestasi-caption p {
  font-size: 20px;
  font-weight: 500;
  color: black;
}

.jurusan {
  max-width: 1366px !important;
}

.jurusan .jurusanTitle h1 span {
  color: #217AD3;
}

.jurusan .box-jurusan {
  margin: auto;
  max-width: 380px;
  border-radius: 10px;
}

.jurusan .box-jurusan .box-title {
  margin-bottom: 50px;
}

.jurusan .box-jurusan .box-title h4 {
  font-size: 25px;
}

.jurusan .box-jurusan .box-image {
  margin-bottom: 50px;
}

.jurusan .box-jurusan .box-image img {
  width: 120px;
  height: 120px;
}

.jurusan .box-jurusan .box-caption {
  padding-bottom: 54px;
}

.jurusan .box-jurusan .box-caption p {
  font-size: 14px;
}

.jurusan .box-jurusan .card-footer {
  -webkit-transition: 1s;
  transition: 1s;
}

.jurusan .box-jurusan .card-footer .laci-satu-ipa, .jurusan .box-jurusan .card-footer .laci-dua-ipa, .jurusan .box-jurusan .card-footer .laci-tiga-ipa, .jurusan .box-jurusan .card-footer .laci-satu-ips, .jurusan .box-jurusan .card-footer .laci-dua-ips, .jurusan .box-jurusan .card-footer .laci-tiga-ips {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  max-width: 410px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  margin-top: 5px;
  cursor: pointer;
}

.jurusan .box-jurusan .card-footer .laci-satu-ipa p, .jurusan .box-jurusan .card-footer .laci-dua-ipa p, .jurusan .box-jurusan .card-footer .laci-tiga-ipa p, .jurusan .box-jurusan .card-footer .laci-satu-ips p, .jurusan .box-jurusan .card-footer .laci-dua-ips p, .jurusan .box-jurusan .card-footer .laci-tiga-ips p {
  padding: 0 15px;
  margin-top: 12px;
  font-weight: 600;
  color: white;
  font-size: 17px;
}

.jurusan .box-jurusan .card-footer .laci-satu-ipa p span, .jurusan .box-jurusan .card-footer .laci-dua-ipa p span, .jurusan .box-jurusan .card-footer .laci-tiga-ipa p span, .jurusan .box-jurusan .card-footer .laci-satu-ips p span, .jurusan .box-jurusan .card-footer .laci-dua-ips p span, .jurusan .box-jurusan .card-footer .laci-tiga-ips p span {
  font-weight: normal;
  font-size: 12px;
  display: none;
}

.jurusan .box-jurusan .card-footer .laci-tiga-ipa, .jurusan .box-jurusan .card-footer .laci-tiga-ips {
  margin-bottom: 5px;
}

.jurusan .box-jurusan .card-footer .laci-satu-ipa:hover, .jurusan .box-jurusan .card-footer .laci-dua-ipa:hover, .jurusan .box-jurusan .card-footer .laci-tiga-ipa:hover {
  background-color: #e63633;
}

.jurusan .box-jurusan .card-footer .laci-satu-ips:hover, .jurusan .box-jurusan .card-footer .laci-dua-ips:hover, .jurusan .box-jurusan .card-footer .laci-tiga-ips:hover {
  background-color: #0f67c0;
}

.eskul {
  max-width: 1366px;
}

.eskul h1 span {
  color: #217AD3;
}

.eskul .box-eskul {
  margin: auto;
  max-width: 300px;
}

.eskul .box-eskul .img-box {
  -webkit-box-shadow: 4px 17px 59px -3px rgba(0, 0, 0, 0.15);
          box-shadow: 4px 17px 59px -3px rgba(0, 0, 0, 0.15);
}

.eskul .box-eskul .img-box img {
  z-index: -1;
  width: 100%;
  height: 355px;
}

.eskul .box-eskul .cutterBottom {
  background-color: white;
  width: 100%;
  margin-top: -70px;
  height: 70px;
  z-index: 1;
  position: relative;
}

.eskul .box-eskul .cutterBottom-dua {
  background-color: white;
  width: 100%;
  margin-top: -92px;
  height: 70px;
  -webkit-transform: skewY(6deg) !important;
          transform: skewY(6deg) !important;
  background-color: white !important;
}

.eskul .box-eskul .box-eskul-caption {
  z-index: 2;
  top: -51px;
  text-align: center;
  position: relative;
}

.eskul .box-eskul .box-eskul-caption h4 {
  margin-top: 20px;
  color: #217AD3;
  font-weight: 500;
  font-size: 17px;
}

.artikel {
  max-width: 1366px;
}

.artikel h1 span {
  color: #217AD3;
}

.artikel .kepsek {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-right: 1px solid #DCDCDC;
}

.artikel .kepsek .title {
  padding: 30px;
  margin-bottom: 20px;
}

.artikel .kepsek .title h3 {
  font-weight: 500 !important;
  color: #217AD3;
  font-size: 30px;
}

.artikel .kepsek .image img {
  width: 300px;
  height: 300px;
}

.artikel .kepsek .caption {
  padding: 30px;
  margin-top: 20px;
}

.artikel .kepsek .caption h4 {
  font-size: 20px;
  font-weight: 600;
}

.artikel .kepsek-paragraf {
  margin-top: 35px;
}

.artikel .kepsek-paragraf p {
  font-weight: 500;
  font-size: 16px;
}

.artikel .mybox {
  min-width: 120px;
  border-radius: 10px;
  border: 1px solid #DCDCDC;
  margin: auto;
  max-width: 280px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.artikel .mybox img {
  width: 100%;
  height: 250px;
}

.artikel .mybox .box-title {
  padding: 1em 0.7em;
}

.artikel .mybox .box-title h4 {
  font-weight: 500;
  font-size: 22px;
}

.artikel .mybox .box-caption {
  padding: 0em 0.7em;
  padding-bottom: 1em;
}

.artikel .mybox .box-caption p {
  font-size: 14px;
}

.artikel .mybox:hover {
  -webkit-box-shadow: 1px 10px 78px -3px rgba(0, 0, 0, 0.35);
          box-shadow: 1px 10px 78px -3px rgba(0, 0, 0, 0.35);
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.tentang {
  max-width: 1366px;
}

.tentang .box-tentang {
  margin-right: 50px;
  margin-bottom: 40px;
}

.tentang .box-tentang h3 {
  font-size: 30px;
  font-weight: 700;
}

.tentang .box-tentang h3 span {
  font-weight: 400;
}

.tentang .box-tentang .line-kecil {
  width: 59px;
  background-color: white;
  height: 2px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.tentang .box-tentang p {
  color: rgba(243, 243, 243, 0.8);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin-bottom: 30px;
  font-size: 15px;
}

.tentang .box-tentang .download {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 18px 40px;
  color: white;
  border: 1px solid white;
}

.tentang .box-tentang .download:hover {
  color: #2ed573;
  border: 1px solid #2ed573;
}

.tentang .box-tentang .menu-wrapper div {
  padding: 0.5em 0;
}

.tentang .box-tentang .menu-wrapper div a {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 15px;
  color: rgba(243, 243, 243, 0.8);
}

.tentang .box-tentang .menu-wrapper div a:hover {
  color: #2ed573;
}

.tentang .box-tentang .kontak-wrapper div {
  padding: 0.5em 0;
}

.tentang .box-tentang .kontak-wrapper div p {
  font-size: 15px;
  color: rgba(243, 243, 243, 0.8);
}

.tentang .box-tentang .kontak-wrapper div p i {
  color: white;
}

.footer {
  max-width: 1366px;
}

.footer div a {
  color: black;
  font-size: 19px;
}

.footer div .mame {
  width: 40px;
}

@media screen and (max-width: 992px) {
  header .header-link-wrapper div a i {
    font-size: 22px;
  }
  header .header-link-wrapper div:last-child {
    height: 35px;
  }
  header .header-link-wrapper div:last-child a {
    font-size: 14px;
  }
  nav .navbar-brand img {
    width: 220px !important;
  }
  nav ul {
    margin-top: 1em;
    border-top: 1px solid #e0e0e0;
  }
  nav ul li a.active {
    margin-top: 1em;
  }
  nav ul li .nav-link {
    font-size: 16px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1em 0;
  }
  .kepsek {
    border-right: 0 !important;
    border-bottom: 1px solid #DCDCDC;
  }
}

@media screen and (max-width: 768px) {
  .keunggulan .row {
    display: none !important;
  }
  .keunggulan .swiper-container {
    display: block !important;
  }
  .pendaftaran .ppdb {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .pendaftaran .ppdb .pertama {
    margin: 0;
  }
  .pendaftaran .ppdb .kedua {
    margin-top: 30px;
  }
  .prestasi .box-prestasi .cutterBottom {
    margin-top: -69px !important;
    margin-bottom: 1em !important;
  }
  .prestasi .box-prestasi .cutterBottom-dua {
    margin-top: -7.8em;
  }
  .jurusan .row .col {
    margin-bottom: 2em;
  }
  .jurusan .row .col .box-jurusan {
    margin: auto !important;
  }
  .artikel .kepsek-paragraf p b {
    text-align: center;
  }
  .tentang .download {
    padding: 18px 10px;
  }
}

@media screen and (max-width: 576px) {
  header .header-link-wrapper div:last-child {
    height: 50px;
    width: 160px;
  }
  header .header-link-wrapper div:last-child a {
    font-size: 12px !important;
  }
  .judulBesar {
    font-size: 37px !important;
  }
  .paragrafKecil {
    font-size: 15px !important;
  }
  .carousel-inner .mycarousel-caption h5, .carousel-inner .mycarousel-caption p {
    font-size: 20px !important;
  }
  .prestasi .box-prestasi {
    margin: auto;
    max-width: 300px;
  }
  .jurusan .box-jurusan {
    max-width: 300px;
  }
  .jurusan .box-jurusan .box-title h4 {
    font-size: 20px;
  }
  .jurusan .box-jurusan .box-image img {
    width: 90px;
    height: 90px;
  }
  .jurusan .box-jurusan .box-caption p {
    font-size: 12px;
  }
  .jurusan .box-jurusan .card-footer p {
    font-size: 17px;
  }
  .jurusan .box-jurusan .card-footer p span {
    font-size: 12px;
  }
  .artikel .kepsek .title h3 {
    font-size: 25px;
  }
  .artikel .kepsek-paragraf p {
    font-size: 13px;
  }
  .tentang .box-tentang h3 {
    font-size: 25px;
  }
  .tentang .box-tentang p {
    font-size: 13px;
  }
  .tentang .box-tentang .menu-wrapper div a {
    font-size: 13px;
  }
  .tentang .box-tentang .kontak-wrapper div p {
    font-size: 13px;
  }
  .footer {
    max-width: 1366px;
  }
  .footer div a {
    color: black;
    font-size: 15px;
  }
  .footer div .mame {
    width: 35px;
  }
}

.judulBesar {
  font-size: 55px;
  font-weight: normal;
}

.paragrafKecil {
  font-weight: 500;
  font-size: 16px;
}

.myBg-Blue {
  background-color: #217AD3;
  color: white;
}

.myBg-Red {
  background-color: #eb4d4b;
}

.myBg-Orange {
  background-color: #f0932b;
}

.myRoboto {
  font-family: "Roboto", sans-serif;
}

li {
  list-style-type: none !important;
}

a {
  text-decoration: none !important;
}

.noBorder {
  border: 0 !important;
}

.borderYes {
  border: 1px solid red;
}

.mycontainer {
  width: 1366px;
  margin-left: auto;
  margin-right: auto;
}

.line {
  width: 85%;
  margin: auto;
  height: 1px;
  background-color: #217AD3;
}

@-webkit-keyframes moveRight {
  from {
    left: -100px;
    opacity: 0;
  }
  to {
    opacity: 1;
    left: 9%;
  }
}

@keyframes moveRight {
  from {
    left: -100px;
    opacity: 0;
  }
  to {
    opacity: 1;
    left: 9%;
  }
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes loading {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes boxmoveup {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    opacity: 1;
    bottom: 0px;
  }
}

@keyframes boxmoveup {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    opacity: 1;
    bottom: 0px;
  }
}

@-webkit-keyframes boxmoveright {
  from {
    left: -50px;
    opacity: 0;
  }
  to {
    opacity: 1;
    left: 0;
  }
}

@keyframes boxmoveright {
  from {
    left: -50px;
    opacity: 0;
  }
  to {
    opacity: 1;
    left: 0;
  }
}

@-webkit-keyframes boxmoveleft {
  from {
    right: -50px;
    opacity: 0;
  }
  to {
    opacity: 1;
    right: 0;
  }
}

@keyframes boxmoveleft {
  from {
    right: -50px;
    opacity: 0;
  }
  to {
    opacity: 1;
    right: 0;
  }
}

@-webkit-keyframes tibatibaMuncul {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tibatibaMuncul {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slider {
  0% {
    left: 0;
    opacity: 0;
  }
  2% {
    opacity: 1;
  }
  20% {
    left: 0;
    opacity: 1;
  }
  21% {
    opacity: 0;
  }
  24% {
    opacity: 0;
  }
  25% {
    left: -768px;
    opacity: 1;
  }
  45% {
    left: -768px;
    opacity: 1;
  }
  46% {
    opacity: 0;
  }
  48% {
    opacity: 0;
  }
  50% {
    left: -1536px;
    opacity: 1;
  }
  70% {
    left: -1536px;
    opacity: 1;
  }
  72% {
    opacity: 0;
  }
  74% {
    opacity: 0;
  }
  75% {
    left: -2304px;
    opacity: 1;
  }
  95% {
    left: -2304px;
    opacity: 1;
  }
  97% {
    left: -2304px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 0;
  }
}

@keyframes slider {
  0% {
    left: 0;
    opacity: 0;
  }
  2% {
    opacity: 1;
  }
  20% {
    left: 0;
    opacity: 1;
  }
  21% {
    opacity: 0;
  }
  24% {
    opacity: 0;
  }
  25% {
    left: -768px;
    opacity: 1;
  }
  45% {
    left: -768px;
    opacity: 1;
  }
  46% {
    opacity: 0;
  }
  48% {
    opacity: 0;
  }
  50% {
    left: -1536px;
    opacity: 1;
  }
  70% {
    left: -1536px;
    opacity: 1;
  }
  72% {
    opacity: 0;
  }
  74% {
    opacity: 0;
  }
  75% {
    left: -2304px;
    opacity: 1;
  }
  95% {
    left: -2304px;
    opacity: 1;
  }
  97% {
    left: -2304px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 0;
  }
}

@-webkit-keyframes myBounce {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  10% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  20% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  30% {
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
  40% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  60% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  70% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  80% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  90% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes myBounce {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  10% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  20% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  30% {
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
  40% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  60% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  70% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  80% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  90% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes mySlide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes mySlide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.movetoup {
  display: block !important;
  -webkit-animation: boxmoveup 2s;
          animation: boxmoveup 2s;
}

.reveal-up {
  position: relative;
  -webkit-transform: translateY(150px);
          transform: translateY(150px);
  opacity: 0;
}

.reveal-up.active {
  -webkit-animation: boxmoveup 1.5s;
          animation: boxmoveup 1.5s;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
}

.reveal-right {
  position: relative;
  -webkit-transform: translateX(-300px);
          transform: translateX(-300px);
  opacity: 0;
}

.reveal-right.active {
  -webkit-animation: boxmoveright 1s;
          animation: boxmoveright 1s;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  opacity: 1;
}

.myBounce {
  position: relative;
}

.myBounce.active {
  -webkit-animation: myBounce 2s  2s;
          animation: myBounce 2s  2s;
}

.myBounce.active:hover {
  -webkit-animation: none !important;
          animation: none !important;
}
/*# sourceMappingURL=style.css.map */